---
import Input from "../components/ui/Input.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Password Manager">
  <main class="mx-auto max-w-[600px] grid justify-center">
    <h1 class="text-2xl font-medium mb-6 text-center">
      Agregar nueva contraseña
    </h1>

    <form action="" autocomplete="off">
      <div class="form-field">
        <label for="website" class="form-label">Sitio Web</label>
        <Input type="url" placeholder="example.com" id="website" />
      </div>
      <div class="form-field">
        <label for="username" class="form-label">Usuario</label>
        <Input type="text" id="username" />
      </div>
      <div class="form-field relative">
        <div class="relative">
          <label for="password" class="form-label">Contraseña</label>
          <Input type="password" id="password" />
        </div>
        <button type="button" class="text-sm absolute bottom-2 right-2"
          >Mostrar</button
        >
      </div>
      <div class="form-field">
        <label for="category" class="form-label">Categoria</label>
        <input type="url" class="form-input" id="category" />
      </div>
      <div class="form-field">
        <label for="sidenote" class="form-label">Nota</label>
        <textarea class="form-input" id="sidenote"></textarea>
      </div>
      <div class="flex justify-end gap-x-4">
        <a type="button" class="rounded-lg text-sm py-2 px-3" href="/"
          >Cancelar</a
        >
        <button
          type="submit"
          class="rounded-lg text-sm py-2 px-3 bg-slate-600 font-medium"
          >Agregar</button
        >
      </div>
    </form>
  </main>
</Layout>

<style>
  .form-field {
    margin-bottom: 16px;
  }

  .form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
  }

  .form-input {
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid rgb(71 85 105 / 1);
    width: 100%;
    min-width: 360px;
    max-height: 120px;
    min-height: 34px;
  }

  .form-input::placeholder {
    font-size: 14px;
  }
</style>
