---
import UserMenu from "../components/UserMenu.astro";
import Layout from "../layouts/Layout.astro";
import { GET } from "./api/passwords";

let response = await GET(Astro);
const data = await response.json();
---

<Layout title="Password Manager">
  <main class="mx-auto max-w-[600px]">
    <div class="mb-8 flex justify-between items-end">
      <div>
        <h1 class="text-2xl font-medium">Contraseñas</h1>
        <p class="text-gray-400 text-sm">
          Todas tus contraseñas seguras y accesibles desde cualquier
          dispositivo!
        </p>
      </div>
      <UserMenu />
    </div>

    <div>
      <div class="flex justify-center mb-8">
        <a
          href="add-password"
          class="px-3 py-2 bg-slate-600 rounded-md text-sm font-medium"
          >Añadir contraseña</a
        >
      </div>

      {
        data.map((item: any) => {
          return (
            <div class="flex justify-between items-center border-b border-b-gray-600 py-3">
              <div>
                <p class="text-base">{item.url}</p>

                <p class="text-gray-400 text-sm">{item.username}</p>
              </div>
              <button class="text-sm">Ver más</button>
            </div>
          );
        })
      }
    </div>
  </main>
</Layout>
