---
import Layout from "../layouts/Layout.astro";
import { GET } from "./api/passwords";

let response = await GET(Astro);
const data = await response.json();
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Contraseñas</h1>
    {data.map((item: any) => <p>{item}</p>)}
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
