---
import { Input } from "@/components/ui/input";
import Layout from "../layouts/Layout.astro";
import { Label } from "@/components/ui/label";
import { actions } from "astro:actions";
import { isInputError } from "astro:actions";

const result = Astro.getActionResult(actions.login);

if (result && !result.error) {
  Astro.redirect("/");
}

const inputErrors = isInputError(result?.error) ? result.error.fields : {};
---

<Layout title="Login - Password Manager">
  <section class="mx-auto max-w-[400px]">
    <img
      src="/lock.png"
      alt="Lock icon image"
      class="block mb-6 size-16 mx-auto"
    />
    <h1 class="text-2xl mb-8 text-center font-medium">Bienvenido de nuevo</h1>

    <form action={actions.login} method="post" class="mb-12">
      <div class="grid w-full max-w-sm items-center gap-1.5 mb-6">
        <Label htmlFor="email">Correo</Label>
        <Input type="email" id="email" name="email" />
        {
          inputErrors.email && (
            <p class="dark:text-red-400 text-sm">{inputErrors.email.join(",")}</p>
          )
        }
      </div>

      <div class="grid w-full max-w-sm items-center gap-1.5 mb-6">
        <Label htmlFor="password">Contraseña</Label>
        <Input type="password" name="password" id="password" />
        {
          inputErrors.password && (
            <p class="dark:text-red-400 text-sm">{inputErrors.password.join(",")}</p>
          )
        }
      </div>

      <button
        type="submit"
        class="bg-green-700 hover:bg-green-600 text-white py-2 px-4 rounded-md font-medium text-sm w-full"
        >Iniciar Sesión</button
      >
    </form>

    <p class="text-sm text-gray-300 text-center">
      ¿Todavía no tienes cuenta?
      <a href="/signup" class="underline text-blue-300">Crear una cuenta</a>
    </p>
  </section>
</Layout>
