---
import { buttonVariants } from "./ui/button";
---

<div class="w-[1000px] mx-auto flex justify-between">
  <section>
    <a href="/" class="font-medium">Secret Saver</a>
  </section>
  <nav>
    <a href="/" class={buttonVariants({ variant: "link" })}>Inicio</a>
    <a href="/features" class={buttonVariants({ variant: "link" })}
      >Características</a
    >
    <a href="/login" class={buttonVariants({ variant: "link" })}
      >Iniciar Sesión</a
    >
    <a href="/signup" class={buttonVariants({ variant: "link" })}
      >Crear Cuenta</a
    >
  </nav>
</div>
