---
import ChevronRightIcon from "./icons/ChevronRightIcon.astro";
import type { Password } from "../lib/interfaces/Password";

interface Props {
  item: Password;
}

const { item } = Astro.props;
---

<div
  class="flex justify-between items-center border-b border-b-gray-600 py-3 cursor-pointer pass-wrapper hover:bg-[#272b35]"
  data-id={item.id}
>
  <div>
    <p class="text-base">{item.url}</p>
    <p class="text-gray-400 text-sm">{item.username}</p>
  </div>
  <ChevronRightIcon />
</div>

<script>
  const items = document.querySelectorAll("div.pass-wrapper");

  items.forEach((item) => {
    const itemId = (item as HTMLDivElement).dataset.id;

    item.addEventListener("click", () => {
      window.location.href = window.location.href + itemId;
    });
  });
</script>
