---
import type { Password } from '@/lib/interfaces/password'
import PasswordItem from './PasswordItem.astro';

export interface Props {
  passwords: Password[]
}

const {passwords} = Astro.props;
---
{
  (passwords.length > 0) 
    ? passwords.map((item) => {
      return <PasswordItem item={item} />;
    }) 
    : (
      <div class="p-8 text-center">
        <p class="text-xl font-medium text-gray-50">Todavía no has guardado ninguna contraseña.</p>
        <p class="text-gray-300">Presiona el botón agregar para empezar!</p>
      </div>
    )
}