---
import { actions } from "astro:actions";
import { Button, buttonVariants } from "./ui/button";
---

<div class="my-6 flex justify-between items-end">
  <div class="flex gap-x-10 items-center">
    <a class="text-lg font-medium" href="/">Secret Saver</a>
    <nav class="flex gap-x-2">
      <a href="/" class={buttonVariants({ variant: "link" })}>Inicio</a>
    </nav>
  </div>
  <div>
    <form method="post" action={actions.logout}>
      <Button variant={"ghost"} type="submit">Cerrar Sesión</Button>
    </form>
  </div>
</div>
