---
import { buttonVariants } from "./ui/button";
import UserMenu from "./UserMenu.astro";
---

<div class="my-6 flex justify-between items-end">
  <div class="flex gap-x-10 items-center">
    <a class="text-lg font-medium" href="/">Secret Saver</a>
    <nav class="flex gap-x-2">
      <a href="/" class={buttonVariants({ variant: "link" })}>Inicio</a>
    </nav>
  </div>
  <UserMenu />
</div>
