---
import { Button, buttonVariants } from "@/components/ui/button";
import Input from "../../components/ui/Input.astro";
import Label from "../../components/ui/Label.astro";
import TextArea from "../../components/ui/TextArea.astro";
import Layout from "../../layouts/Layout.astro";
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.addPassword);
if (result && !result.error) {
  return Astro.redirect('/');
}
---

<Layout title="Password Manager">
  <main class="mx-auto max-w-[600px] grid justify-center">
    <h1 class="text-2xl font-medium mb-6 text-center">
      Agregar nueva contraseña
    </h1>

    <form
      method="post"
      action={actions.addPassword}
      autocomplete="off"
      class="bg-zinc-800 py-6 px-4 rounded-md mb-8"
    >
      <div class="mb-4 min-w-[360px] w-full">
        <Label forInput="website" label="Sitio web" />
        <Input type="text" placeholder="example.com" id="website" name="url" />
      </div>
      <div class="mb-4 min-w-[360px] w-full">
        <Label forInput="username" label="Usuario" />
        <Input type="text" id="username" name="username" />
      </div>
      <div class="mb-4 min-w-[360px] w-full relative">
        <div class="relative">
          <Label forInput="password" label="Contraseña" />
          <Input type="password" id="password" name="password" />
        </div>
        <button
          type="button"
          class="text-sm absolute bottom-2 right-2"
          id="showPasswordBtn">Mostrar</button
        >
      </div>
      <div class="mb-4 min-w-[360px] w-full">
        <Label forInput="note" label="Nota (Opcional)" />
        <TextArea id="note" name="note" />
      </div>
      <div class="flex justify-end gap-x-2">
        <a href="/" class={buttonVariants({variant: "ghost"})}>Cancelar</a>
        <Button type="submit" variant={"primary"}> Agregar </Button>
      </div>
    </form>
    {result?.error && (
      <div>
        <p>Ha ocurrido un error al intentar agregar una nueva contraseña. Por favor inténtelo más tarde.</p>
      </div>
    )}
  </main>
</Layout>

<script>
  const passwordInput = document.getElementById("password") as HTMLInputElement;
  const showPasswordBtn = document.getElementById(
    "showPasswordBtn"
  ) as HTMLButtonElement;

  showPasswordBtn.addEventListener("click", () => {
    const type = passwordInput.type;
    const label = showPasswordBtn.textContent;

    passwordInput.type = type == "text" ? "password" : "text";
    showPasswordBtn.textContent = label == "Mostrar" ? "Ocultar" : "Mostrar";
  });
</script>
