---
import Input from "../../components/ui/Input.astro";
import Label from "../../components/ui/Label.astro";
import TextArea from "../../components/ui/TextArea.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Password Manager">
  <main class="mx-auto max-w-[600px] grid justify-center">
    <h1 class="text-2xl font-medium mb-6 text-center">
      Agregar nueva contraseña
    </h1>

    <form action="" autocomplete="off">
      <div class="mb-4 min-w-[360px] w-full">
        <Label forInput="website" label="Sitio web" />
        <Input type="url" placeholder="example.com" id="website" />
      </div>
      <div class="mb-4 min-w-[360px] w-full">
        <Label forInput="username" label="Usuario" />
        <Input type="text" id="username" />
      </div>
      <div class="mb-4 min-w-[360px] w-full relative">
        <div class="relative">
          <Label forInput="password" label="Contraseña" />
          <Input type="password" id="password" />
        </div>
        <button type="button" class="text-sm absolute bottom-2 right-2"
          >Mostrar</button
        >
      </div>
      <div class="mb-4 min-w-[360px] w-full">
        <Label forInput="category" label="Categoría" />
        <Input type="text" id="category" />
      </div>
      <div class="mb-4 min-w-[360px] w-full">
        <Label forInput="sidenote" label="Nota" />
        <TextArea id="sidenote" />
      </div>
      <div class="flex justify-end gap-x-4">
        <a type="button" class="rounded-lg text-sm py-2 px-3" href="/"
          >Cancelar</a
        >
        <button
          type="submit"
          class="rounded-lg text-sm py-2 px-3 bg-slate-600 font-medium"
          >Agregar</button
        >
      </div>
    </form>
  </main>
</Layout>
