---
import { Button, buttonVariants } from "@/components/ui/button";
import Layout from "../../layouts/Layout.astro";
import { actions } from "astro:actions";
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"
import { Textarea } from "@/components/ui/textarea";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";

const result = Astro.getActionResult(actions.addPassword);
if (result && !result.error) {
  return Astro.redirect('/');
}
---

<Layout title="Password Manager">
  <Card className="w-full mx-auto max-w-[400px]">
    <CardHeader>
      <CardTitle>Nueva Contraseña</CardTitle>
    </CardHeader>
    <CardContent>
      <form
        method="post"
        action={actions.addPassword}
        autocomplete="off"
      >
        <div class="grid w-full max-w-sm items-center gap-1.5 mb-6">
          <Label htmlFor="website">Sitio Web</Label>
          <Input type="text" placeholder="example.com" id="website" name="url" />
        </div>
        <div class="grid w-full max-w-sm items-center gap-1.5 mb-6">
          <Label htmlFor="username">Usuario</Label>
          <Input type="text" id="username" name="username" />
        </div>
        <div class="grid w-full max-w-sm items-center gap-1.5 mb-6 relative">
          <div class="relative">
            <Label htmlFor="password">Contraseña</Label>
            <Input type="password" id="password" name="password" />
          </div>
          <button
            type="button"
            class="text-sm absolute bottom-2.5 right-2"
            id="showPasswordBtn">Mostrar</button
          >
        </div>
        <div class="grid w-full max-w-sm items-center gap-1.5 mb-6">
          <Label htmlFor="note">Nota (Opcional)</Label>
          <Textarea placeholder="Escribe tus anotaciones aquí!" name="note" id="note" />
        </div>
        <div class="flex justify-end gap-x-2">
          <a href="/" class={buttonVariants({variant: "ghost"})}>Cancelar</a>
          <Button type="submit" variant={"primary"}> Agregar </Button>
        </div>
      </form>
      {result?.error && (
        <div>
          <p>Ha ocurrido un error al intentar agregar una nueva contraseña. Por favor inténtelo más tarde.</p>
        </div>
      )}
    </CardContent>
  </Card>
</Layout>

<script>
  const passwordInput = document.getElementById("password") as HTMLInputElement;
  const showPasswordBtn = document.getElementById(
    "showPasswordBtn"
  ) as HTMLButtonElement;

  showPasswordBtn.addEventListener("click", () => {
    const type = passwordInput.type;
    const label = showPasswordBtn.textContent;

    passwordInput.type = type == "text" ? "password" : "text";
    showPasswordBtn.textContent = label == "Mostrar" ? "Ocultar" : "Mostrar";
  });
</script>
