---
import Input from "../../components/ui/Input.astro";
import Label from "../../components/ui/Label.astro";
import TextArea from "../../components/ui/TextArea.astro";
import Layout from "../../layouts/Layout.astro";
import { supabase } from "../../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/login");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/login");
}
---

<Layout title="Password Manager">
  <main class="mx-auto max-w-[600px] grid justify-center">
    <h1 class="text-2xl font-medium mb-6 text-center">
      Agregar nueva contraseña
    </h1>

    <form
      action="/api/passwords"
      method="post"
      autocomplete="off"
      class="bg-zinc-800 py-6 px-4 rounded-md"
    >
      <div class="mb-4 min-w-[360px] w-full" hidden>
        <Input type="text" id="userId" name="userId" value={data.user!.id} />
      </div>
      <div class="mb-4 min-w-[360px] w-full">
        <Label forInput="website" label="Sitio web" />
        <Input type="text" placeholder="example.com" id="website" name="url" />
      </div>
      <div class="mb-4 min-w-[360px] w-full">
        <Label forInput="username" label="Usuario" />
        <Input type="text" id="username" name="username" />
      </div>
      <div class="mb-4 min-w-[360px] w-full relative">
        <div class="relative">
          <Label forInput="password" label="Contraseña" />
          <Input type="password" id="password" name="password" />
        </div>
        <button
          type="button"
          class="text-sm absolute bottom-2 right-2"
          id="showPasswordBtn">Mostrar</button
        >
      </div>
      <div class="mb-4 min-w-[360px] w-full">
        <Label forInput="note" label="Nota" />
        <TextArea id="note" name="note" />
      </div>
      <div class="flex justify-end gap-x-2">
        <a
          type="button"
          class="rounded-lg text-sm py-2 px-3 hover:bg-zinc-700 font-medium text-gray-200 hover:text-white"
          href="/">Cancelar</a
        >
        <button
          type="submit"
          class="bg-green-700 hover:bg-green-600 text-white py-2 px-4 rounded-md font-medium text-sm"
          >Agregar</button
        >
      </div>
    </form>
  </main>
</Layout>

<script>
  const passwordInput = document.getElementById("password") as HTMLInputElement;
  const showPasswordBtn = document.getElementById(
    "showPasswordBtn"
  ) as HTMLButtonElement;

  showPasswordBtn.addEventListener("click", () => {
    const type = passwordInput.type;
    const label = showPasswordBtn.textContent;

    passwordInput.type = type == "text" ? "password" : "text";
    showPasswordBtn.textContent = label == "Mostrar" ? "Ocultar" : "Mostrar";
  });
</script>
