---
import { buttonVariants } from "@/components/ui/button";
import Layout from "../../layouts/Layout.astro";
import { actions } from "astro:actions";
import PasswordList from "@/components/PasswordList.astro";

const addPasswordUrl = new URL("/app/add-password", Astro.url);
const {error, data: passwords} = await actions.getPasswords();
---

<Layout title="Password Manager">
  <main class="mx-auto max-w-[600px]">
    <div>
      <div class="flex justify-center mb-8">
        <a
          href={addPasswordUrl}
          class={buttonVariants({ variant: "primary" })}>Añadir Contraseña</a
        >
      </div>
      {
        (error) ? (
          <div class="text-center my-6">
            <p class="text-lg font-medium">Tenemos problemas para cargar tus contraseñas, por favor intentalo en unos minutos</p>
          </div>
        ) :
        <PasswordList passwords={passwords} />
      }
    </div>
  </main>
</Layout>
